.success,
.error {
    color: #fff;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}

#submit:hover {
    background: green;
    color: white;
    font-size: 19px;
}

#book-list a{
    color: red;
    text-decoration: none;
    font-size: 20px;
}